body,html
{
  height: 100%;
  margin: 0;

  /* background-image: url('../images/Hintergrund4.jpg') ; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  background-attachment: fixed;
	font-family: 'Trebuchet MS', sans-serif;

}
.maincolor
{
	background-color: #0AD0FF;
}
.picLandingpage
{
	width: 100%;
	object-fit: cover;
}
.picLandingpage2
{
	width: 100%;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	border: 2px solid black;
	margin: 1em;
}

.cover
{
	object-fit: cover;
}
.scaledown
{
	object-fit: scale-down;
}
