body,html
{
  height: 100%;
  margin: 0;
  background-color: #0AD0FF;
  /* background-image: url('../images/Hintergrund4.jpg') ; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  background-attachment: fixed;

}
#promoimage
{
  width: 100%;
  max-height: 950px;
  }

.text-primary {
color: #6282aa!important;
}

.navbar{
    color: white;
    background:#F7421B;
}
@media only screen and (min-width:300px) and (max-width:536px){
	#landingpage-col
  {
    padding-top: 1em;
    /* margin-left: 0%; */
	}
  #landingpage-img
  {
    width: 83vw;
  }
}
@media only screen and (min-width: 537px) and (max-width:970px) {
	#landingpage-col
  {
    padding-top: 3em;
    max-width: 80vw;

    /* margin-left: 0%; */
	}
  #landingpage-img
  {
      max-width: 80vw;
  }
}
@media only screen and (min-width: 971px){
	#landingpage-col
  {
    padding-top: 5em;
    /* margin: 1em; */
    /* padding: 8em; */

    /* margin-left: 0%; */
	}
  #landingpage-img
  {
      width: 80vw;
      max-width: 479px;
  }
}
